.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100%; 
  height: 10vh; 
  background-image: url('/Logo.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 200px;
}

.nav {
  display: flex;
  gap: 20px;
  margin-left: 100px;

  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;

    &:hover {
      color: darkorange;
    }
  }
}

.login-button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: darkorange;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;

  .burger {
    width: 100%;
    height: 2px;
    background-color: #333;
  }
}

/* Респонсивные стили */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%; /* Сделано меньше */
    flex-direction: column;
    align-items: center; /* Центрируем элементы */
    justify-content: center;
    background-color: white;
    gap: 20px;
    padding-top: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;

    &.open {
      right: 0;
    }

    a {
      font-size: 18px; /* Увеличен текст для лучшей видимости */
      padding: 10px 0; /* Добавлен отступ для удобства клика */
      width: 100%; /* Ширина ссылки для полного охвата */
      text-align: center; /* Центрируем текст */
      border-bottom: 1px solid #eee; /* Разделение ссылок */
    }
  }

  .login-button {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
}
